body{
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    color:white;
    background-color: #11121A;
    opacity: 0.8;
    margin-bottom: 50px;
}
*{
    box-sizing: border-box;
}
header{
    min-height: 70px;
    background-color: #1c1c24;
    padding: 10px;
    position: fixed;
    top:-2px;
    left: 0px;
    right: 0px;
    z-index:1;
    
}
.header-contener{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: auto;
    margin-left:12%;
    flex-wrap: wrap;
    
    
}

.logo{
    height: 50px;
    width: 50px;
     
}
.logo>img
{   width: 100%;
    height: 100%;
    object-fit: cover;
   border-radius: 50%;
   
}
.header-contener>span{
    padding:0px 10px ;
    font-size: 18px;
    font-weight: 600;
    opacity: 0.8;

}
.search-contener
{
    display: flex;
    width:75%;
    margin:120px  auto 50px;
    margin-left:12%;
    background-color:#1c1c24 ;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    align-items: center;
    padding-left:40px;
    overflow: hidden;
    

}
.searchIcon >svg
{
    height:20px;
    fill: white;
    margin-right:10px;
    
}
.searchSpace
{
    flex:1

}
#filter-jobs{
    background-color:transparent;
    border: none;
    height:60px;
    font-size: 18px;
    color: whitesmoke;
    outline: none;
    letter-spacing:1.2px;
    
}
.find-jobs
{
    height:60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding:0px 10px;
    font-size: 17px;
    background-color: #3060ff;
    border: none;
    color: white;
    
    transition: all 0.2s ease-in-out;
}
.find-jobs:hover{
    transform: scaleX(1.1);
    
}
.search-result{
    display: block;
    margin-left:15%;
    
}
.show
{
    display: flex;
    flex-direction:column;
}
.jobs-main-container{
display: flex;
}
.jobs-container
{    display: grid;

    width: 80%;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 20px;
    margin:auto;
    

    
    
}
.job-tile{
    background-color: #1c1c24;
    border-radius: 10px;
    width: 80%;
    margin: 10px auto;
    display: flex;
    cursor: pointer;
    justify-content: center;
    flex-direction: column;
    color:white;
    padding:30px;
    transition: transform 0.5s;
    z-index:0;
}
.job-tile:hover{

    transform: scale(1.05);

}
.top
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    
}
.top>img{
    width:50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50px;
}
.title{
    margin: 20px auto;
    max-height: 70px;
}
.title span{
    font-size: 16Ipx;
    line-height: 1.5;
}
.buttons{
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}
.buttonNew>button{
    border-radius: 10px;
    
    font-size: 14px;
    padding:0px 30px;
    border:none;
    height: 50px;
}
.description{
    margin-bottom: 40px;
    height: 150px;
    font-size: 15px;
    color:#96939B;

}

.button{
    margin-top: 10px;
    padding:13px ;
    border-radius: 10px;
}
.applynow
{
    color:white;
    background-color: #3060ff;
}
.Message{
    
    background-color: #2e2e39;
     color:#96939B;
}


@media only screen and (max-width: 600px)  {


}


@media only screen and (min-width: 600px)  {


}





@media screen and (max-width:600px) {

    .header-contener{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: auto;
        margin-left:20%;
        flex-wrap: wrap;
    
    
    }

    .logo{
        height: 40px;
        width: 40px;
     
    }
    .logo>img
    {   width: 100%;
        height: 100%;
        object-fit: cover;
       border-radius: 50%;
   
    }
    .header-contener>span{
        padding:0px 10px ;
        font-size: 15px;
    

    }

    .search-contener
    {
        display: flex;
         height: 30px;
         margin: 120px auto 50px;
background-color:#1c1c24 ;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        align-items: center;
        padding-left:40px;
        overflow: hidden;
        width:80%;
        

    }
    .searchIcon >svg
    {
        height:20px;
        fill: white;
        margin-right:10px;
    
    }
    .searchSpace
    {
    cursor:text;    
     color: red;
    }
    #filter-jobs{
        background-color:transparent;
        border: none;
        /* height:60px; */
        font-size: 12px;
        color: whitesmoke;
        outline: none;
        letter-spacing:1.2px;
        flex:0.5;
        
    
    }
    .find-jobs
    {
        /* height:60px; */
        cursor: pointer;
        display: flex;
        align-items: center;
        padding:0px 10px;
        font-size:12px;
        background-color: #3060ff;
        border: none;
        color: white;
    
        transition: all 0.2s ease-in-out;
    }
    .find-jobs:hover{
        transform: scale(1.1);
    
    }
    .jobs-container
    {   
        display: grid;
        margin: auto;
        grid-template-columns: repeat(1,1fr);
        
    
    
    }
    .job-tile{
        background-color: #1c1c24;
        border-radius: 10px;
        width: 300px;
        display: flex;
        cursor: pointer;
        justify-content: center;
        flex-direction: column;
        color:white;
        
        transition: transform 0.5s;
    
    }
    .search-result{
        display: block;
        font-size: 12px;;
        margin-left:25%; ;

    
    }
    .description{
        margin-bottom: 40px;
        height: 130px;
        font-size: 13px;
        color:#96939B;

    }
    .title span{
        font-size: 15px;
        line-height: 1.5;
    }
}
@media only screen and (max-width: 1024px) and (min-width: 600px)  {

    .jobs-container
    {   
        display: grid;
        margin: auto;
        grid-template-columns: repeat(2,1fr);
        
    
    
    }
    
    .job-tile{
        background-color: #1c1c24;
        border-radius: 10px;
        width: 300px;
        display: flex;
        cursor: pointer;
        justify-content: center;
        flex-direction: column;
        color:white;
        
        transition: transform 0.5s;
    
    }
    .find-jobs
    {
        /* height:60px; */
        cursor: pointer;
        display: flex;
        align-items: center;
        padding:0px 10px;
        font-size:12px;
        background-color: #3060ff;
        border: none;
        color: white;
    
        transition: all 0.2s ease-in-out;
    }
    .find-jobs:hover{
        transform: scale(1.1);
    
    }
    .search-contener
        {
            display: flex;
             height: 50px;
             margin: 120px auto 50px;
    background-color:#1c1c24 ;
            border-radius: 10px;
            align-items: center;
            justify-content: center;
            align-items: center;
            padding-left:40px;
            overflow: hidden;
            width:80%;
        

        }

}